!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"uft-8"}
		%link(rel="stylesheet" href="desconectado/style.css")
		%title Restaurante
		%meta{name:"description", content:"dsadfaskfdsjfasdjfkds"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%body
		%p#message parece que no se pudo establecer una conexion. aqui la pagina basica  	
		.container
			%h1 restaurante carinos 
			%p 
				%strong Direccion 
				7av 23-18 z. 12
			%p 
				%strong Telefono 
				5480-6250
			%p 
				%strong Descripcion 
				Restaurante que vende comida de %calidad
			%p 
				%strong Horario 
				5am - 7pm
			#map
				%img{src:"map.png"}
				%p He aqui el mapa
